[submodule "policy/Pi"]
	path = policy/Pi
	url = https://github.com/cmriat/Pi.git
[submodule "policy/openpi-official"]
	path = policy/openpi-official
	url = https://github.com/cmriat/openpi-official.git
[submodule "policy/GR00T"]
	path = policy/GR00T
	url = https://github.com/cmriat/GR00T.git
	branch = modify_backbone
